@{
    ViewData["Title"] = "Get to Know Joel";
}

<h1>Get to Know Joel</h1>

<ul>
    <li>
        <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy (Where Joel Performs Regularly)</a>
    </li>
    <li>
        <a href="https://baconsale.com/" target="_blank">Baconsale Website</a>
    </li>
</ul>

<p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="/images/Baconsalekate.jpg" alt="Baconsale Photo" style="width:300px; height:auto;" />
    </a>
</p>

<p>Click the image above to visit the Baconsale website!</p>