@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>
<div>
    
    <img src="/images/JoelHiltonHeadshot.jpg" alt="Joel Hilton" />
</div>

<br />

<div>
    <a ></a>
</div>